environment:
  matrix:
    - RUBY_VERSION: "27-x64"

cache:
  - vendor/bundle

install:
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - bundle config --local path vendor/bundle
  - bundle install

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v
  - bundle exec rake vendor:windows

test_script:
  - bundle exec rake
