name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.4
            os: ubuntu-24.04
          - ruby: 3.3
            os: macos-latest
          - ruby: 3.2
            os: windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake vendor:platform
      - run: bundle exec rake test
      - if: ${{ startsWith(matrix.os, 'mac') }}
        run: ruby test/inference_session_test.rb --name test_providers_coreml
